# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# VS Code
.vscode/

# Jupyter
.jupyter/

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# Mac OS-specific storage files
.DS_Store

# PyCharm 
.idea/

# Poetry / venv
.venv/
poetry.lock
